[Desktop Entry]
Icon=application-x-shellscript
Name=netbeans.sh
Type=Link
URL[$e]=file:$HOME/Documentos/FACOMP/script do linux facomp/netbeans.sh
X-KDE-LastOpenedWith=org.kde.kate
