[Desktop Action NewTab]
Exec=konsole --new-tab
Name[pt_BR]=Abre uma nova aba
Name=Open a New Tab

[Desktop Action NewWindow]
Exec=konsole
Name[pt_BR]=Abre uma nova janela
Name=Open a New Window

[Desktop Entry]
Actions=NewWindow;NewTab;
Categories=Qt;KDE;System;TerminalEmulator;
Comment[pt_BR]=Acesso à linha de comandos
Comment=Command line access
Exec=konsole
GenericName[pt_BR]=Terminal
GenericName=Terminal
Icon=utilities-terminal
Name[pt_BR]=Konsole
Name=Konsole
StartupNotify=true
Terminal=false
TryExec=konsole
Type=Application
X-DBUS-StartupType=Unique
X-DocPath=konsole/index.html
X-KDE-AuthorizeAction=shell_access
